@import url('https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@300..700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    font-family: "Space Grotesk", sans-serif;
    background-image: url("assets/BackgroundBatman.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    min-height: 100vh;
}

header {
    display: flex;
    width: 90%;
    justify-content: space-between;
    align-items: center;
    padding: 20px 40px;
}

.header-links {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    gap: 30px;
}

.header-links li {
    display: flex;
    flex-direction: row;
    gap: 30px;
}

.header-links a {
    color: white;
    text-decoration: none;
    transition: all 0.5s;
}

.header-links a:hover {
    color: white;
    text-decoration: underline;
    transform: scale(1.1);
}

.header-links button {
    background-color: #FDFF00;
    width: 180px;
    height: 40px;
    padding: 8px 20px;
    color: black;
    font-weight: 600;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    transition: all 0.5s;
}

.header-links button:hover {
    transform: scale(1.1);
}

main {
    display: flex;
    flex-direction: column;
    gap: 40px;
}

.content-title h1 {
    font-size: 72px;
    color: white;
    font-weight: 600;
}

.content-title h3 {
    font-size: 28px;
    color: white;
    font-weight: 600;
}

.content-type {
    display: flex;
    flex-direction: row;
    gap: 30px;
}

.content-type h4 {
    font-size: 14px;
    color: #B2B2B2;
}

.content-description {
    display: flex;
    width: 60%;
    flex-direction: column;
    gap: 10px;
}

.content-description p{
    font-size: 18px;
    color: white;
    font-weight: 600;
    line-height: 32px;
}

main button {
    background-color: #FdFF00;
    width:286px;
    height: 56px;
    padding: 8px 20px;
    color: black;
    font-weight: 600;
    border: none;
    border-radius: 8px;
    cursor: pointer;
}

footer {
    display: flex;
    width: 90%;
    padding: 20px 40px;
    flex-direction: row;
    justify-content: space-between;
    align-items: start;
}

.content-footer-credits {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;
}

.content-footer-credits p {
    color: #929292;
    font-size: 10px;
}

.content-footer-socialMedia {
    display: flex;
    flex-direction: row;
    gap: 10px
}

.content-footer-socialMedia img {
    width: 25px;
    cursor: pointer;
}

